body {
    font-family: 'Roboto';
    color: white;
    margin: 0;
    background-color: #151515
}

.textlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9em;
    width: 28em;
}

h1 {
    font-size: 7em;
    font-weight: 500;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-weight: 400;
    text-align: left;
}

h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 0em;
}

h4 {
    text-align: center;
    font-weight: 400;
}

p {
    font-weight: 400;
    margin-right: 40em;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 4em;
}

.socialmedia a {
    float: left;
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: block;
    font-size: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.signature {
    margin: 0;
    color: #606060;
}

.text {
    margin-top: 1.5em;
	margin-bottom: 4em;
    margin-left: 3em;
    display: flex;
    flex-direction: column;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 6em;
}

.navbar a {
    float: left;
    color: white;
    font-weight: 400;
    text-decoration: none;
    display: block;
    font-size: 1.875em;
}

.navbartext a {
    padding: 0.5em;
}

table {
    width: 33%;
	margin-bottom: 1em;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 0.5em;
    font-weight: 400;
    float: up;
    text-align: left;
}

tr:nth-child(even) {
  background-color: #202020;
}

td {
    padding: 0.5em;
    font-weight: 300;
    text-align: left;
}

.zenyatta {
	width: 15em;
}

a:active {
    text-decoration: underline;
}

a:hover {
    color: lightgrey;
}
